<aui-header>
    <div auiHeaderContent>
        <div class="o-header__wrapper">
            <aui-logo src="https://a-ui.github.io/core_branding_scss/images/a-logo.svg"></aui-logo>
        </div>
    </div>

    <div auiHeaderMenuItem>
        <a href="/">
            <button class="a-button a-button--navigation u-hide-on-mobile is-active">
                <span>Home</span>
            </button>
        </a>
    </div>
</aui-header>
<main class="u-wrapper">
    <div class="u-container u-margin-top-xx u-margin-bottom-lg" role="main">
        <div class="row">
            <div class="col-xs-12">
              <h1 class="u-margin-top-xl">Hello Angular!</h1>
              <h2 class="h4 u-margin-top">Handy resources:</h2>
              <ul class="a-list">
                <li>ACPaaS UI homepage: <a href="https://acpaas-ui.digipolis.be/home" target="_blank" rel="noopener noreferrer" class="has-icon-right">https://acpaas-ui.digipolis.be<i class="fa fa-external-link"></i></a></li>
                <li>ACPaaS UI components: <a href="https://digipolisantwerp.github.io/acpaas-ui_react/" target="_blank" rel="noopener noreferrer" class="has-icon-right">https://digipolisantwerp.github.io/acpaas-ui_react/<i class="fa fa-external-link"></i></a></li>
                <li>Core Branding: <a href="https://a-ui.github.io/core_branding_scss/" target="_blank" rel="noopener noreferrer" class="has-icon-right">https://a-ui.github.io/core_branding_scss/<i class="fa fa-external-link"></i></a></li>
              </ul>
            </div>
          </div>
    </div>
</main>
<aui-footer>
  <div auiFooterBottom>
      <aui-subfooter>
          <aui-copyright domain="Stad Antwerpen"></aui-copyright>
      </aui-subfooter>
    </div>
</aui-footer>
